:host {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  justify-content: space-around ;
  align-content: space-around;
}

.switch {
  cursor: pointer;

  i {
    align-self: center;
    justify-self: center;
    font-size: 40px;
  }
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  align-self: center;
  justify-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0rem 1rem 2rem 1rem;
  width: 95vw;
  min-width: 50vw;

  .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 4rem;
    width: auto;
    padding: 1rem;
  }

  .subtitle {
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
    padding: 2rem !important;
  }
}

img {
 display: none;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  gap: 1rem;
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: auto;
  transition: 0.2s background-color ease-out 100ms;
  cursor: pointer;

  p {
    font-size: 18px;
    align-self: center;
    justify-self: center;
    letter-spacing: 0.15rem;
    padding-right: 1rem !important;
  }

  i {
    align-self: center;
    justify-self: center;
    font-size: 30px;
  }
}

@media only screen and (min-width: 900px) {
  :host {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    width: auto !important;
  }

  .switch {
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 40px;
    cursor: pointer;

    i {
      align-self: center;
      justify-self: center;
      font-size: 50px;
    }
  }

  img {
    display: block;
    min-width: 13vw;
    width: fit-content;
    max-width: 15vw;
    border-radius: 2rem;
    padding: 1rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0rem;
    width: auto;
    min-width: 30vw;
    max-width: 30vw;

    border: 2px solid rgb(58, 58, 58);
    border-radius: 1rem;
  }

  .card i {
    justify-self: flex-end;
  }
}

@media only screen and (min-width: 1400px) {
  :host {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    width: auto !important;
    height: 100%;
  }

  .card {
    gap: 3rem;
  }

  .switch {
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 40px;
    cursor: pointer;

    i {
      align-self: center;
      justify-self: center;
      font-size: 50px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0rem;
    width: auto;
    min-width: 30vw;
    max-width: 30vw;

    border: 2px solid;
    border-radius: 1rem;
  }

  .card i {
    justify-self: flex-end;
  }
}
